@import '@fontsource/ibm-plex-sans';
@import '@fontsource/material-icons-rounded';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    outline: none;
  }

  html {
    font-family: 'IBM Plex Mono', sans-serif;
    background-color: theme(colors.neutral.900);
    color: theme(colors.white);
  }
}

@layer components {
  .icon {
    font-family: 'Material Icons Rounded', sans-serif;
  }
}
